body 
{
    margin:0px;
}


p
{
    font-family:Verdana;
    font-size:12px;
    color:Black;
}
    

/*
     FILE ARCHIVED ON 06:53:33 Jun 13, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:48:30 Apr 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.527
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.009
  cdx.remote: 5.943
  LoadShardBlock: 65.813 (3)
  PetaboxLoader3.datanode: 117.433 (4)
  load_resource: 173.535
  PetaboxLoader3.resolve: 89.202
*/